[submodule "dbt-utils"]
	path = dbt-utils
	url = https://github.com/fishtown-analytics/dbt-utils
[submodule "snowplow"]
	path = snowplow
	url = https://github.com/fishtown-analytics/snowplow
	branch = refactor/int-test-org
