name: Test

on:
  pull_request:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2

     - name: Set up Python 3.9
       uses: actions/setup-python@v2
       with:
         python-version: 3.9

     - name: Install dependencies
       shell: bash
       run: |
         sudo apt-get install libsasl2-dev
         python -m pip install --upgrade pip
         python -m pip install -r test-requirements.txt

     - name: Run pytest
       shell: bash
       run: pytest tests/
