name: Test

on:
  pull_request:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3

     - name: Set up Python 3.9
       uses: actions/setup-python@v4
       with:
         python-version: 3.9

     - name: Install dependencies
       shell: bash
       run: |
         sudo apt-get install libsasl2-dev
         python -m pip install --upgrade pip
         python -m pip install -r dev-requirements.txt

     - name: Run unit tests
       shell: bash
       run: DBT_PROFILES_DIR=$PWD pytest tests/unit
